/***** General styles *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

:root {
  --mobile-margin: 0.5rem;
  --button-shadow-default: 0px 8px 15px rgba(0, 0, 0, 0.1);
  --button-shadow-hover: 0px 8px 15px rgba(0, 0, 0, 0.25);
  --main-color: /*#efe4e0;*/#c8b289;
  --secondary-color: /*#12135d;*/ #163f5d;/*#e7ddd4;*/
  --box-shadow-style: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

ul {
  list-style: none;
}

.menu-item__link,
.cta {
  text-decoration: none;
}

/***** Header style *****/

.nav-header {
  margin-top: 3rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

/***** Main style *****/

.main-wrapper {
  background-color: var(--main-color);
  margin: var(--mobile-margin);
}

.container {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.img-wrapper .profilkep {
  display: inline-block;
  width: 12.5rem;
  border-radius: 50%;
}

/***** Hamburger menu *****/

.main-nav {
  display: none;
}

#menu__toggle {
  visibility: hidden;
}

.hamburger-menu__wrapper {
 position: fixed;/*????????????*/
 height: 60px;
 background-color: var(--secondary-color);
 top: 0;
 width: 100%;
 z-index: 100;
}

.hamburger-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  margin: 0 15px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-lines, 
.hamburger-lines::before,
.hamburger-lines::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition-duration: 0.2s;
}

.hamburger-lines::before {
  content: "";
  top: -10px;
}

.hamburger-lines::after {
  content: "";
  top: 10px;
}

.hamburger-menu__box {
  display: block;
  position: fixed; 
  top: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--secondary-color);
  height: 40%;
  visibility: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  /** Átmenet: felülről beúszik **/
  top: -250px;
  transition-duration: 0.4s;
}


/***** Menu styles *****/

.nav-header {
  background-color: var( --secondary-color);
}

.menu-item {
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #419D78;
  cursor: pointer;
}

.menu-item__link {
  color: var(--main-color);
}

.menu-item__link:hover {
  background-color: #419D78;
  cursor: pointer;
}

#menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  top: 0;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:before {
  display: none;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked {
  visibility: visible;
}

/***** Content *****/

 .main-content {
  text-align: center;
  display: grid;
}

/**** Name style *****/

.banner-container {
  height: 30vh;
  margin: 0.5rem;
}

.name-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.name,
.qualification {
  letter-spacing: 0.1rem;
  text-align: center;
}


.name {
  width: 100%;
  font-size: 1.9rem;
  font-weight: 400;
  text-shadow: 1px 1px grey;
  line-height: 2.2rem;
}

.qualification {
  font-size: 1.7rem;
  font-weight: 800;
}

.cta {
  box-shadow: var(--button-shadow-default);
}

.icons {
  display: flex;
  justify-content: center;
}

.icon-item {
  padding: 0.5rem;
}

/***** Media query *****/

@media screen and (min-width: 992px) {
  
  .hamburger-menu__wrapper,
  .hamburger-menu {
    display: none;
  }

  .main-wrapper {
    padding: 0.25rem;
    overflow-x: hidden;
  }

  .nav-header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    margin-top: 0;
  }

  .main-nav {
    display: block;
  }

  .main-content {
    max-width: 70vw;
    position: relative;
    top: 0;
    right: -30%;
  }

  .footer {
    width: 100%;
  }
  .main-wrapper {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .main-nav__menu {
    height: 100vh;
  }

/***** Nav menu *****/

  .menu-item {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  .menu-item__link {
    color: var(--main-color);
  }

  /***** Name style *****/

  .name-wrapper {
    width: 100%;
  }

  .name,
  .qualification {
    letter-spacing: 0.1rem;
  }

}
