/**************************/
/***** General styles *****/
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:'Raleway', sans-serif;/*"Inter", sans-serif;*/
}

:root {
  --mobile-margin: 0.5rem;
  --button-shadow-default: 0px 8px 15px rgba(0, 0, 0, 0.1);
  --button-shadow-hover: 0px 8px 15px rgba(0, 0, 0, 0.25);
  --main-color: /*#efe4e0;*/#c8b289;
  --secondary-color: /*#12135d;*/ #163f5d;/*#e7ddd4;*/
  --box-shadow-style: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  --hover-bg-color: #419D78;
}

ul {
  list-style: none;
}

.menu-item__link,
.cta {
  text-decoration: none;
}

.main-wrapper {
  background-color: var(--main-color);
  margin: var(--mobile-margin);
}

.container {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
}

.container-title {
  text-align: center;
  margin: 2rem;
}

/***** Hamburger menu *****/

.main-nav {
  display: none;
}

#menu__toggle {
  visibility: hidden;
}

.hamburger-menu__wrapper {
 position: fixed;
 height: 60px;
 background-color: var(--secondary-color);
 top: 0;
 width: 100%;
 z-index: 100;
}

.hamburger-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  margin: 0 15px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-lines, 
.hamburger-lines::before,
.hamburger-lines::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition-duration: 0.2s;
}

.hamburger-lines::before {
  content: "";
  top: -10px;
}

.hamburger-lines::after {
  content: "";
  top: 10px;
}

.hamburger-menu__box {
  display: block;
  position: fixed; 
  top: 0;
  width: 100%;
  padding: 1.875rem 0;
  background-color: var(--secondary-color);
  height: 35vh;
  visibility: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  /** Átmenet: felülről beúszik **/
  top: -250px;
  transition-duration: 0.4s;
}

/************************/
/***** Header style *****/
/************************/

.nav-header {
  margin-top: 3rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  height: 35vh
}

.profilkep {
  border-radius: 50%;
}

/***** Nav styles *****/

.nav-header {
  background-color: var( --secondary-color);
}

.menu-item {
  text-align: center;
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #419D78;
  cursor: pointer;
}

.menu-item__link {
  color: var(--main-color);
}

.menu-item__link:hover,
.cta:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
}

#menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  top: 0;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:before {
  display: none;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked {
  visibility: hidden;
}

/**********************/
/***** Main style *****/
/**********************/

/***** Banner section *****/

.name-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.name,
.qualification {
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.name {
  width: 100%;
  font-size: 2.9rem;
  font-weight: 500;
  text-shadow: 1px 1px grey;
  line-height: 3rem;
 
}

.qualification {
  font-size: 1.7rem;
  font-weight: 800;
}

.btn {
  margin-top: 1rem;
}

.cta,
.form__submit {
  background-color: var(--secondary-color);
  color: var(--main-color);
  box-shadow: var(--button-shadow-default);
  padding: 0.8rem 1rem;
  border-radius: 0.25rem;
}

.cta:hover,
.form__submit:hover {
  background-color: #0669af;
}

/***** About section *****/

/***** Portfolio section *****/

.portfolio-box {
  outline: 1px solid yellow;
}

.project-picture {
  width: 50vw;
}

/***** Skills section *****/

.list-item {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon-item {
  padding: 0.5rem;
}

/***** Contact section *****/

.form-container {
  max-width: 25rem;
  margin: 0 auto;
}

.form__input {
  background-color: #fdf1f1;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #18161600;
}

textarea.form__input {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.form__submit { 
  display: block;
  margin: 0 auto;
  border: none;
}

/***** Media query *****/

@media screen and (min-width: 992px) {
  
  .hamburger-menu__wrapper,
  .hamburger-menu {
    display: none;
  }

  .main-wrapper {
    padding: 0.25rem;
    overflow-x: hidden;
  }

  .nav-header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    margin-top: 0;
  }

  .main-nav {
    display: block;
  }

  .main-content {
    max-width: 70vw;
    position: relative;
    top: 0;
    right: -30%;
  }

  .footer {
    width: 100%;
  }
  .main-wrapper {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .main-nav__menu {
    height: 100vh;
  }

/***** Nav menu *****/

  .menu-item {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  .menu-item__link {
    color: var(--main-color);
  }

  /***** Name style *****/

  .name-wrapper {
    width: 100%;
  }

  .name,
  .qualification {
    letter-spacing: 0.1rem;
  }
}
